
.selected { background-color: #ccc;  }
.quality { padding: 5px; padding: 5px;}
.quality span  {
  border: 2px solid ccc;
  padding: 5px;
  border-radius: 25px;
  cursor: pointer;
}
.long { width: 100px;}
#johari {
    margin-top: 2%;
    display: none;
}
#intro {
    
}
.hide { display: none;}
